
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
body {
 background-color: #6fe7ff;
}
h1 {
	font-family: 'Permanent Marker', 'cursive';
}
h2 {
	font-family: 'Permanent Marker', 'cursive';
}
body {
	text-align: center;
}
p {
	font-family: 'Permanent Marker', 'cursive';
	font-size: 40px;
}
